.App{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    margin: 20px;
    border-radius: 50px;
    padding: 30px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.433);
    width: 340px;
    height: 400px;
}
